.userspage{
    padding-left: 10px;
    padding-top: 15px;
}

.userPhoto {
    padding-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.selectedPage{
    color: yellow;
    font-weight: bold;
}

.pre{
    border-radius: 50%;
}

.name {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}
.status {
    padding-left: 10px;
    padding-top: 5px;
}
.but {
    padding-left: 20px;
    padding-top: 5px;
    font-weight: bold;
}

.gif {
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}