.content {
    padding: 5px;
    padding-left: 20px;
} 

textarea {
    resize: none;
    outline: none;
	-moz-appearance: none;
	border: 1px solid #999;
}

.addpostbut {
    background-color: rgb(41, 64, 78);
    border: none;
    color: white;
    padding: 6px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.addpostbut:hover {
    transition-duration: 0.4s;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
  }