.content {
    padding: 5px;
    padding-left: 20px;
} 

.addpostbut {
    background-color: #555555;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}