.header {
    grid-area: h;
    background-color:rgb(248, 207, 118);
    border-radius: 22px;
    box-shadow: 0px 0px 3px rgb(214, 211, 201);
  }
  
  .header img {
    width: 62px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
  