.app-wrapper {
  margin: 0 auto;
  display: grid;
  Width: 1200px;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
    grid-area: c;
    background-color: rgb(164, 84, 240);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(82, 68, 131);
    margin: 5px;
}