.text {
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    transition: 3s;
}

.text:hover {
    color:darkblue;
    transition: 3s;
    box-shadow: 5px 5px black;
}

.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}